<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CosmosDb_DatabaseName" value="Products"/>
    <add key="CosmosDb_CollectionName" value="Groceries"/>
    <add key="CosmosDb_Uri" value="https://thingx-retail-store-db.documents.azure.com:443/"/>
    <add key="CosmosDb_Key" value="3dR2jyxEIVMVgYl1hT5CToFHGSGnQbHEW9bVz3yvx2YGFeVGvD8yn0utLo23XIH8WmzmLWW8KuZk1DhVt9lGqA=="/>
  </appSettings>
</configuration>